
" Rails : set key mapping
nnoremap <Leader>rc :Rcontroller<CR>
nnoremap <Leader>rv :Rview <cword><CR>
nnoremap <Leader>rh :Rhelper <cword><CR>
nnoremap <Leader>rm :Rmodel<CR>
nnoremap <Leader>rs :Emodel<CR>

